* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Sans, Arial; text-decoration: none;
}

.images img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
}

@media (min-width: 120px) {
    .images {
        grid-template-columns: 1fr 1fr;
    }
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  background-color: #fffcef;
  color: #333;
}

a{color: #800020;}

nav ul{list-style:none; 
  display:flex; 
  justify-content:center; 
  gap:250px; }

.category-list,
.section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
    margin: 40px auto;
    padding: 60px;
    text-align: center; 
  font-family: 'DM Sans', Arial, sans-serif;
}
  
#category {
  margin: 0 auto;
  text-align: center;
}


.section h3 {
    text-align: left;
    color: maroon;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
  text-decoration: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 10px;
   
  }

.table th {
    color: maroon;
    padding: 12px 15px;
    text-align: center;
  text-decoration: none;}


.table td {
    padding: 12px 15px;
    text-align: center;
    color: maroon;
    border-bottom: 1px; 
  text-decoration: none;}

.table td img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}


.table button {
    padding: 8px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 5px;
  text-decoration: none;}


.menu-item {
  background: white; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 220px; padding: 15px; transition: transform 0.3s;
}


.menu-img {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}


.cart-form { display: flex;
  flex-direction: column; 
  gap: 10px;
  width: 250px;
  margin: 0 auto; }

.cart-form input, select { padding: 8px; 
  border-radius: 8px;
  border: 1px solid}

.cart-form button {
  background: #800020;
  color: #fff;
  border: none; 
  border-radius: 15px; 
  padding: 10px; cursor: pointer;
}

#banner1 {width: 100% ! important; 
          height: 350px ! important; 
          object-fit: cover ! important; 
          display:block ! important;}

footer { background: #800020; 
  color: white; 
  padding: 10px; 
  text-align: center; }


h2 {color: #800020;}
p, label {color:#737373;}

#footer1 {color:#fffcef;}

.hover {
  padding: 5px;
  background: white;
  color: black;
one;
}
.hover:hover { background: darkgrey;
transform: scale (1.1);
             
             }

#home.section {padding: 0 !important;
    margin: 0 auto !important;    }
#banner1{transition: 0.5s;}
#banner1:hover {transform: scale(1);}
